html, body {
    font-family: Arial, serif;
    font-size: 16px;
    max-width: 595px;
    margin: auto;
    padding: 0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
table {
    border-collapse: collapse;
}
table.border td, table.border th {
    padding: 5px;
    border: 1px solid #c0c0c0;
}
table.border th {
    background: #e0e0e0;
}
.navigation {
    display: flex;
    justify-content: center;
    width: 595px;
    height: 48px;
    background-color: #292935;

}
.navigation_link {
    display: inline;

    color: aliceblue;
    font-size: 13px;
    padding: 20px;
}
.navigation_link a {
    position: relative;
    cursor: pointer;
    line-height: 1;
    color: #35D187;

}
.navigation_link a:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #F54B42;
    content: "";
    transition: width 0.3s ease-out;
}
.navigation_link a:hover:after,
a:focus:after {
    width: 100%;
}
.author {
    display: flex;
    width: 556px;
    height: 166px;
    justify-content: space-between;
    padding: 20px 0 20px 20px;
}
.author_avatar img {
    width: 232px;
    height: 161px;
    border-radius: 4px;
}
.author_name h1 {
    font-size: 30px;
    line-height: 35px;
}
.author_name p {
    font-size: 17px;
    line-height: 20px;
}
.author_name p:after,
.content h2:after {
    display: block;
    position: absolute;
    width: 43px;
    height: 2px;
    background-color: #35D187;
    content: "";
}
.content {
    display: flex;
    width: 595px;
    height: auto;

    color: #FFFFFF;
    background: #292935;
}
.content h2 {
    font-size: 17px;
    line-height: 20px;
}
.content_list {
    font-size: 12px;
    line-height: 18px;
}
.content_list__para {
    padding: 0 0 10px 0;
}